body{
    background-image: url(../img/background-2.jpg);
}
nav{
    background-image: url(../img/background.jpg);
    opacity:0.8;
    border-style: outset;
    
}
.jumbotron .container .welcome img{
align-content: center;
width: 250px;
height: 200px;
margin-left:200px;
    margin-right:500px;
    padding-top: 0;
}
.jumbotron{
    background: rgba(200, 54, 54, 0.5); 
}
.carousel-item img{
    width: 500px;
    height:400px;
    padding-bottom: 50px;
    border-radius: 50px;
    opacity: 0.9;
}
.jumbotron{
    font-family: fantasy;
    
    
}
.jumbotron h1{
    font-size: 100px;
    color:rgb(241, 229, 63);
}
.jumbotron .lead{
    font-size: 35px;
    color:White;
}
.logo2 img{
    width:100px;
    height:100px;
}
.log{
    float:right;
}
.logo img{
    height:70px;
    width:160px;
}
.my-raw{
    Width:100%;
}
.nav {
    margin-right: 1000px;
    margin-bottom: 0;
    
    
}
.catagories{
margin-top:100px;
}

input[type=search]{
    align-content: center;
    margin-left: 100px;
}
.navigation ul{
    margin-left: 50px;
    
  
}
.navigation ul a{
   font-size:20px;
   font-family: cursive;
   color:yellowgreen;
    
  
}

.b1 .b2{
    font-size: 50px;
    color:yellow;
}

